body {
    max-width: 980px;
    margin: auto;
}

header nav .navbar-brand {
     text-transform: uppercase;
     font-weight: bold;
}

header nav div .navbar-nav .nav-link {
    text-align: right;
    text-transform: uppercase;
}

main div .jumbotron .jumbotron-fluid {
    padding: 40px 5%;
}

.display-4 {
    text-align: center;
}

main div .lead {
    text-align: justify;
}

main h1 {
    margin: 80px auto;
}

main #jumbo-title {
    margin: 0 auto 30px;
}


#main #offers a {
    color: black;
    text-decoration: none;
    text-align: justify;
    border: 5px
}

#main #offers a:hover {
    cursor:pointer;
}

#main #offers .card {
    max-width: 90%;
    margin: 5% auto;
}

.card .no-gutters {
    align-items: center;
}

#application .application-backgroung {
    background-image: url(../img/form.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 300px;
}

#application form .form-group {
    margin: 15% 20%;
}

#application .application-backgroung .form-group{
    font-size: 1.5rem;
    font-weight: bold;
}

#main #contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

}

#main #contacts div {
    margin: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer {
    background-color: rgb(233, 236, 239);
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a {
    margin: 10px;
}

footer {
    text-align: center;
}